<br>
<div class="row">
  <div class="col">
    <% if @recipes.any? %>
      <div class="card bg-light">
        <div class="card-body">
          <h3>Recipes</h3>
          <table class="table table-hover table-bordered">
            <thead class="thead text-white bg-dark">
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @recipes.each do |recipe| %>
                <tr class="table-light">
                  <td class="align-middle"><%= recipe.recipe_name %></td>
                  <td style="text-align: center;">
                    <a href="/recipe/<%= recipe.id %>">
                      <button class="btn btn-warning" type="button">View Recipe</button>
                    </a>
                  </td>
                  <td style="text-align: center;">
                    <a href="/rate/<%=recipe.id%>"><button type="button" class="btn btn-success">Rate Recipe</button>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <br>
    <% if @tags.any? %>
      <div class="card bg-light">
        <div class="card-body">
          <h3>Categories</h3>
          <table class="table table-hover table-bordered">
            <thead class="thead text-white bg-dark">
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @tags.each do |tag| %>
                <tr class="table-light">
                  <td class="align-middle"><%= tag.category %></td>
                  <td style="text-align: center;">
                    <a href="/tag/<%= tag.id %>">
                      <button class="btn btn-primary" type="button">View Tag</button>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <br>
    <a href="/create_recipe"><button class="btn btn-dark" type="button">Create New Recipe</button></a>
  </div>
</div>
