<h2><%=@recipe.recipe_name%></h2>

<div class="row">
  <div class="col">
    <% if @ingredients.any? %>
      <div class="card bg-light">
        <div class="card-body">
          <table class="table table-hover table-bordered">
            <thead class="thead text-white bg-dark">
              <tr>
                <th>Ingredients</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @ingredients.each do |ingredient| %>
                <tr class="table-light">
                  <td class="align-middle"><%= ingredient.item %></td>
                  <td style="text-align: center;"><%= ingredient.amount %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <% if @steps.any? %>
      <div class="card bg-light">
        <div class="card-body">
          <h3>Instructions:</h3>
          <ol>
            <% @steps.each do |step| %>
              <li class="align-middle"><%= step.instruction %></li>
            <% end %>
          </ol>
          <% if @tags.any? %>
            <% @tags.each do |tag| %>
               <a href="/tag/<%=tag.id%>"><p class="align-middle"><%= tag.category %>,</p></a>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
